<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/employees.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
</head>
<body>
<h2 style="text-align:center">Film po nazivu</h2>



<table id="filmovi">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>See more</th>
        <th>Delete</th>
    </tr>
    <tr th:each="film : ${filmoviNaziv}">
        <td th:text="${film.id}"></td>
        <td th:text="${film.naziv}"></td>
        <td th:text="${film.zanr}"></td>
        <td th:text="${film.opis}"></td>
       <td th:text="${film.srednja_ocjena}"></td>
        
    </tr>
</table>
<a id="employeeDisplayLink" th:href="${'/filmovi'}" style="text-align: center;">Back</a>


<section class="top">	
			<h2>TOP FILMOVI:</h2>
			<!--First slide-->
			<div class="row ">

			  <div class=" col-sm-6 col-lg-3" style="float:left" th:each="film : ${filmoviNaziv}">
			   <div class="card mb-2">
				  <img class="card-img-top"
					th:src="@{'/images/'+${film.naziv}+'.jpg'}" alt="Card image cap">
				  <div class="card-body">
					<h4 class="card-title"  th:text="${film.naziv}"></h4>
					<p class="card-text"><b>Žanr:</b>  <td th:text="${film.zanr}"></td><br><b>Trajanje:</b>2h 19min<br><b>Opis:</b><td th:text="${film.opis}"></td></p>
					<a class="btn btn-danger">Gledaj</a>
				  </div>
				</div>
			  </div>

			 
			   

			</div>
		</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
